.about-1
  pad 4em

.about-1-text
  ta cen
  lh 2
  cc #555


.about-2
  w 620px
  mx a


.about-2-container
.about-3-container
  pad 6em

.about-2-row
  mb 1em
  cc #555

.about-2-pic
  ta r
  pr 10em


.about-3
  mt 6em
  w 500px
  mx a


.about-title
  cc #21D197
  text-shadow 0 2px 2px #aaa
  fz 2.2em
  mb 2em

.about-1-pic
  ta cen
  mb 3em

.about-2-row-pic
  ta cen

.about-2-row-text
  pad 0.25em 1em
  div
    lh 2


.about-btn
  ta cen
  cur ptr
  img
    w 220px
    h a
  &-1
    mb 2.5em


.about-qrcode
  fz 1.4em
  ta cen


.about-banner
  mb 6em
