.header
  bg #ff
  bdb $bd
  fill t true 10
  h 88px

  
.header-container
  w 1200px
  mx a
    
  
.logo
  py 1.75em

.nav
  li
    w percentage(1 / 6)
    ta cen


.nav-item
  pad 2em 1em
  bdb 2px solid a0
  &.active
  &:hover
    bdc $pc

.tel
  py 1.65em
  pr 1em
  ta r

  .ic
    pos rela
    top 4px
    mr 0.5em


.tel-number
  fz 1.4em
  cc $pc





.map
  //fill b true
  b 88px + 272px
  h 90px
  mt 6em

.map-overlay
  ta cen
  pad 2em
  cc #fff
  fz 1.1em
  bg rgba(#1F1F3A, 0.72)

.footer
  //fill b true
  b 88px
  bg #1F1F3A
  h 272px
  

.footer-container
  w 1200px
  mx a
  pad 4em 5em


.menu-title
  mb 1em
  cc #fff
  //fw 700


.menu-item
  fz 0.8em
  py 0.25em
  cc darken(#ddd, 10%)
  &:hover
    cc #fff


.copyright
  //fill b true
  cc #ddd
  bg #000625
  fz 0.85em
  pad 2.5em
  ta cen
  h 88px



.section
  w 1000px
  mx a

.title-1
  cc #888
  fz 1.2em
  mb 1em
  ta cen

.title-2
  fz 1.8em
  mb 1em
  ta cen

  &:after
    ctx " "
    dis bl
    w 1.5em
    mt 1.5em
    mx a
    h 3px
    bg $sc


.qrcode
  ta cen
