.home-banner
  mb 6em
  pos rela

.home-carousel
  img
    size 100% a

.home-0
  fill r, true
  t 30%
.home-0-block
  cur ptr
  mb 0.1em
  ta r

.home-0-row
  mb 2em
  pos rela

.home-1
  mt 3em
  ta cen
  lh 2
  cc #333


.home-2
  mt 10em
  //w 1400px
  //mx a
  mb 6em

.home-2-timeline
  pt 6em
  pb 6em

.home-2-label
  pos rela
  ta cen

  &-1
    t -2em
    l 1.2em
  &-2
    t 0.5em
    l 2em
  &-3
    t -4em
  &-4
    t -0em
  &-5
    t -2em
  &-6
    t -6em

  &:after
    ctx " "
    pos abso
    dis ib
    b -3em
    l 50%
    size 1.5em
    bg #5FB463
    bdrz 50%

.home-2-text
  cc #aaa
  fz 0.85em


.home-2-date
  cc #5FB463
  fz 1.2em


.home-2-b
  //mt 6em
  ta cen
  fz 1.2em
  cc #333
  pb 6em
  bg #E7F2F4
  mb 6em
  mt -14em
  pt 15em
  bg url('/images/myk/home-2.png') no-repeat


.home-2-logo
  mb 2em



.home-3
.home-4
.home-6
  w 1200px
  mb 4em



.home-3-pic
  img
    size 100% a

.home-3-action
  ta cen
  cc #555
  cur ptr

.home-3-row
  mt 4em

.home-3-action-pic
  mb 0.5em




.home-4-container
  pad 1em
  mt 2em

.home-4-block
  &:hover
    shadow 0 0 6px #ddd

.home-4-block-header
  img
    size 100% a
    bd 0
    dis bl

.home-4-block-header-2
  bg #F0F3F8
  pos rela
  h 3em
  bdl 1px solid #ddd
  bdr 1px solid #ddd

.home-avatar
  pos abso
  dis ib
  l 1em
  t 0.5em
  img   
    bdrz 50%
    size 4.5em
    pad 0.25em
    bd 1px solid #ddd
    bg #fff


.home-name
  dis ib
  pos abso
  l 7em
  t 0.8em
  fz 0.9em
  cc #FB7D72


.home-4-date
  dis ib
  pos abso
  r 1em
  t 1em
  fz 0.9em
  cc #555


.home-4-block-body
  pad 2em 1em
  pt 4em
  bd 1px solid #ddd
  bdb 0

.home-4-title
  fz 1.25em
  mb 1em

.home-4-body
  lh 1.5
  cc #555


.home-4-block-footer-container
  px 1em
  bd 1px solid #ddd
  bdt 0

.home-4-block-footer
  py 1em
  bdt 1px dotted #ddd

.home-4-num
.home-4-more
  fz 0.8em
  cc #888

.home-4-more
  ta r



.home-5
  mb 6em

.home-5-block-container
  //pad 1em
  img
    size 100% auto

.home-5-title
  mb 1em
  fz 1.2em
  cc #555
  ta cen
  mt 2em

.home-5-block
  ta cen

.home-5-avatar
  dis ib
  mb 1em
  img
    size 12.5em
    bdrz 50%

.home-5-name
  mb 0.5em
  cc #555

.home-5-small
  cc #888
  fz 0.9em



.home-6-container
  mt 2em


.home-6-btn
  bg #A1A0A5
  pad 0.5em
  ta cen
  cc #fff
  cur ptr


.home-6-row
  mb 1em

.home-6-grid-l
  pr 0.5em
.home-6-grid-r
  pl 0.5em
