.info-header
  py 10em
  ta cen
  bg rgba(#000, 0.28)
  cc #fff

.info-small
  fz 1.2em

.info-title
  ta cen
  fz 1.5em
  cc #555
  mb 4em  


.info-tab
  w 1200px
  mx a
  mb 4em


.info-tab-title
  ta cen


.info-tab-pic
  mb 1em

.info-tab-text
  fz 1.25em
  cc #333
  cur ptr
  pos rela


.info-tab-title.active
.info-tab-title:hover

  .info-tab-text
    cc #FD9E3D
  
    &:before
      ctx " "
      dis ib
      pos abso
      b -8px
      l 50%
      ml -3em
      size 6em 2px
      bg #FD9E3D
  
    &:after
      ctx " "
      dis ib
      pos abso
      b -20px
      l 50%
      ml -3px
      bd 6px solid a0
      border-top-color #FD9E3D


.info-tabcontent
  w 1400px
  mx a


.info-card-pic
  img
    size 100% a
  
.info-card-body
  bd $bd
  bdt 0
  pad 2em
  pb 1em
   info-card-header
  fz 1.25em


.info-card-flag
  w 3.6em
  pad 0.5em 0.3em
  bd 1px solid #888
  cc #888
  bdrz 4px
  ta cen

.info-card-title
  bdb $bd
  pt 1em
  pb 1em


.info-card-intro
  lh 1.6
  cc #555
  pt 1.5em


.info-card-container
  pad 2em



.info-post
  w 1200px
  mx a
  pad 1em


.info-post-header
  fz 1.8em
  mb 1em
  ta cen
  cc #333

.info-post-datetime
  cc #555
  fz 0.5em
  pb 2.5em
  pt 1em
  bdb 1px solid #555


.info-post-body
  p
    fz 0.9em
    lh 1.8
    cc #555


.info-title-text
  pos rela
  dis ib

.info-title-l
  fill l
  l -40%
.info-title-r
  fill r
  r -40%

.info-title-l
.info-title-r
  t -2px


.info-banner
  mb 6em
