.yh-banner
  img
    size 100% auto

.yh-tab-titles
  w 600px
  mx a
  bg url('/images/myk/yh-tab-1.png') no-repeat
  background-size 100%
  h 191px
  pos rela

.yh-tab-titles-container
  //pad 1em 4em
  //bg #fff
  //bdrz 105px
  //shadow 0 0 10px #ddd
  pos rela
  mt -5em
  ta cen
  px 3.2em
  mb 4em
  h 100%
  

.yh-tab-title
  cur ptr
  h 105px

.yh-tab-icon
  mb 0.5em
  h 80px

.yh-tab-text
  cc #FD9730
.yh-tab-content
  dis no


.yh-1-1
  w 1200px
  mt 4em
  mb 6em

.yh-1-1-l
  ta cen
  pt 2em
  img
    size a 270px

.yh-1-1-b
  lh 3

.yh-1-1-r
  pad 1em



.yh-1-2
  w 100%
  mb 6em
  bg url('/images/myk/yh-2-bg.png') no-repeat
  py 4em

.yh-1-2-pic
  pos abso
  l 50%
  t 1em
  ml -1em
  z 1
  img
    size 2em

.yh-1-2-container
  pos rela

  &:after
    ctx " "
    dis ib
    pos abso
    l 50%
    t 1em
    size 2px 226px
    bg #2095CB
    ml -0.5px

.yh-1-2-title-1
  fz 1em


.yh-1-2-list
  pos rela
  h 4em

.yh-1-2-l
.yh-1-2-r
  pad 1em 0
  w 50%

.yh-1-2-l
  ml -4em
  fill l, false, 0
  ta r

.yh-1-2-r
  mr -4em
  fill r, false, 0
  ta l


.yh-1-3
  mt 4em
  mb 6em
.yh-1-3-text-container
  bg #F6F6F6
  pb 4em
.yh-1-3-text
  w 420px
  mx a
.yh-1-3-title
  mb 4em
.yh-1-3-num
  fz 4em
  mr 5px
.yh-1-3-split
  fz 6em
  cc #EB451E
  fw 100
  pos rela
  t 20px
  mr 5px
.yh-1-3-header
  fz 2em
  cc #1292D5
  pos rela
  t 16px
.yh-1-3-content
  lh 1.8
.yh-1-3-pic
  ta cen
  &-1
    py 2em
  &-2
    py 8em
  &-3
    py 15em



.yh-1-4
  mt 4em
  mb 4em
.yh-1-4-title
  fz 1.5em
  mb 1em
.yh-1-4-tag
  cc #1C9ACC
.yh-1-4-name
  cc #FE9F3F
.yh-1-4-text
  lh 1.6
.yh-1-4-block
  mb 2em
.yh-1-4-pic
  ta cen
  py 1em
  &-1
    mt 5em
  &-2
    mt -5em


.yh-2-1
  mt 4em
  mb 6em
.yh-2-1-content
  pb 0.5em
  pos rela
.yh-2-1-row
  mb 0.5em
  pl 1em
.yh-2-1-block
  mb 4em
  pr 200px
  pos rela

.yh-2-1-1
  bdb 8px solid #16ACED
.yh-2-1-2
  bdb 8px solid #F5A87A
  pos rela
  l 6.5em
  mb 6em
.yh-2-1-3
  bdb 8px solid #16ACED
  l 0.4em
  t 0.25em
.yh-2-1-pic
  fill r
  img
    w 200px
  &-1
    t -67px
    r 3px
  &-2
    t -67px
    r -99px
  &-3
    t -94px
    r -3px



.yh-2-2
  mt 4em
  mb 6em
  pad 4em
  bg url('/images/myk/yh-t2-bg.png')
.yh-2-2-block
  mb 2em
  mx a
.yh-2-2-block-1
  w 5 * 200px
  .row
    mt 4em
.yh-2-2-block-2
  w 4 * 200px
  .row
    mb 4em
.yh-2-2-block-3
.yh-2-2-block-4
  w 5 * 200px
.yh-2-2-item
  w 200px
  fl l
  ta cen
  pad 3em 1em
  //pt 4em
  h 185px
  lh 1.6
  pos rela
.yh-2-2-item-1
  bg #C3D59D
.yh-2-2-item-2
  bg #EFE1DE
.yh-2-2-item-3
  bg #C3DEE6
.yh-2-2-item-4
  bg #ECC586
.yh-2-2-item-5
  bg #D4D1F1
.yh-2-2-item-6
  bg #DAE8EB
.yh-2-2-item-7
  bg #EEDBB9
.yh-2-2-item-8
  bg #EDD1C9
.yh-2-2-item-9
  bg #C0D2D8
.yh-2-2-item-l
  bg #EEDBB9
.yh-2-2-item-r
  bg #A3CEE0
.yh-2-2-title
  ta cen
  mb 2em
  fz 1.5em
  cc #1499C9
.yh-2-2-tag
  ml -0.8em
  size 1.6em
  bdrz 50%
  cc #fff
  shadow 0 0 5px #555
  fz 2.2em
.yh-2-2-tag-t
  fill t
  t -0.8em
  l 50%
.yh-2-2-tag-b
  fill b
  b -0.8em
  l 50%
.yh-2-2-tag-1
.yh-2-2-tag-7
  bg #D5D5E6
.yh-2-2-tag-2
.yh-2-2-tag-8
  bg #C3DEE6
.yh-2-2-tag-3
.yh-2-2-tag-6
  bg #EED2CA
.yh-2-2-tag-4
  bg #C2D29D
.yh-2-2-tag-5
.yh-2-2-tag-9
  bg #EEDEB6
.yh-2-2-block-3-text
  ta cen
  py 2em
  px 1.6em
  lh 1.6
  h 244px
.yh-2-2-item-l
  py 6.5em
.yh-2-2-block-4
  .yh-2-2-item-r
    py 2.4em


.yh-2-3
  w 1200px
  mt 4em
  mb 6em
  table
    w 100%
    td
      ta cen
      pad 0.3em
  thead
    td
      bg #1C98D2
.yh-2-3-row-1
  td
    bg #EAE4E4
.yh-2-3-row-2
  td
    bg #AFE5FD



.yh-2-4
  w 1200px
  mt 4em
  mb 6em
.yh-2-4-block-container
  pad 1em 2em
.yh-2-4-title
  pad 0.5em
  fz 1.5em
  cc #fff
  ta cen
  mb 0.8em
.yh-2-4-title-1
  bg #A4C85D
.yh-2-4-title-2
  bg #16ACED
.yh-2-4-title-3
  bg #F38B51
.yh-2-4-tag-1
  cc #19A7FB
.yh-2-4-tag-2
  cc #FD8F51
.yh-2-4-tag-3
  cc #A6C854
.yh-2-4-row
  lh 1.6
  mb 0.5em
  cc #555


.yh-2-5
  mt 4em
  mb 4em
.yh-2-5-title
  fz 1.5em
  mb 1em
  cc #1C9ACC
.yh-2-5-text
  lh 1.6
.yh-2-5-block
  mb 2em


.yh-2-6
  mt 4em
  mb 4em
  w 1000px
  .field
    w 280px
    fz 1.2em
    pad 1em
    bd 2px solid #888
  .row
    mb 2em
.yh-2-6-l
  ta l
.yh-2-6-m
  ta cen
.yh-2-6-r
  ta r
.yh-2-6-row
  .field
    mr 1em
.yh-2-6-row-2
  .field
    w 100%
.yh-2-6-btn-container
  ta cen
.yh-2-6-btn
  dis ib
  pad 0.8em 3.5em
  fz 1.2em
  bg #1C98D2
  cc #fff
  cur ptr
  bdrz 2px
  &:hover
    shadow 0 0 6px #ddd


.yh-3-1
  mt 4em
  mb 6em
  w 1400px
.yh-3-1-title
  ta cen
  cc #555
  lh 1.6
  fz 1.2em
.yh-3-1-content
  mt 4em
.yh-3-1-block
  ta cen
  fz 1.5em
.yh-3-1-pic
  mb 0.8em
.yh-3-1-row
  mb 4em
.yh-3-1-text
  lh 1.8
  cc #555




.yh-3-2
  mt 4em
  mb 6em
.yh-3-2-row
  pad 1.5em
.yh-3-2-tag
  fl l
  mr 2em
  fz 1.2em
  size 1.8em
  ta cen
  py 4px
  cc #fff
  bg #ddd
  bdrz 50%
  pos rela
  top -6px
.yh-3-2-tag-1
  bg #FECE92
.yh-3-2-tag-2
  bg #C4D696
.yh-3-2-tag-3
  bg #7FCCF0
.yh-3-2-tag-4
  bg #C3BCF8
.yh-3-2-tag-5
  bg #FEBEAE
.yh-3-2-tag-6
  bg #CBDDEA
.yh-3-2-tag-7
  bg #FEC481
.yh-3-2-tag-8
  bg #6BC7CF
.yh-3-2-tag-9
  bg #C3D59D


.yh-4-1
  mt 4em
  mb 6em
  w 1400px
.yh-4-1-header
  mb 2em
.yh-4-1-body
  pos rela
.yh-4-1-tag
  pos abso
  t 6px
  l -175px
.yh-4-1-title
  fz 1.2em
  cc #2892C5
  bg #E4E4E4
  py 0.25em
.yh-4-1-row
  mb 2em
  pos rela
  &:after
    ctx " "
    dis ib
    pos abso
    t 37px
    l -10em
    size 1px 100%
    bg #ddd
  &:before
    ctx " "
    dis ib
    pos abso
    t 20px
    l -9em
    size 143px 1px
    bg #ddd
  &:last-child
    &:after
      dis no
    
.yh-4-1-content
  pl 2em
  cc #555
