{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}

  {% include "_common.html" %}
  {% include "_sidebar.html" %}


<div class="contact-banner">
  <img alt="" src="/images/myk/contact-banner.png" />
</div>


<div class="section">
  <div class="contact-title">
    人才是企业的资本，是最宝贵的财富，一流的人才是建设一流企业的基础，没有优秀的人才，就不会有优秀的企业，没有优秀的平台，人才也将碌碌无为。
  </div>
</div>

<div class="section">
  <div class="title-1">Talent</div>
  <div class="title-2">我们眼中的人才</div>
</div>

<div class="section">
  <div class="contact-1">
    <div class="row contact-1-row">
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-1.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-2.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-1-row">
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-3.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-4.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row contact-1-row">
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-5.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
      <div class="grid width--6">
        <div class="row">
          <div class="grid width--4">
            <div class="contact-1-pic">
              <img alt="" src="/images/myk/contact-1-6.png" />
            </div>
          </div>
          <div class="grid width--8">
            <div class="contact-1-title-1">
              创新意识
            </div>
            <div class="contact-1-title-2">
              把创造性当成首要职责
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="title-1">Position</div>
  <div class="title-2">虚位以待</div>
</div>


<div class="section">
  <div class="contact-2">
    <ul class="contact-2-container">
      <li class="contact-2-list">
        <div class="contact-2-pic">
          <img alt="" src="/images/myk/contact-2-1.png" />
        </div>
        <div class="contact-2-l">
          <div class="contact-2-title-1">
            公司高层管理岗位
          </div>
          <div class="contact-2-title-2">
            市场营销部副总、人力资源部副总、企划部副总
          </div>
        </div>
        <div class="contact-2-r">
          <div class="contact-2-title-1">
            市场部
          </div>
          <div class="contact-2-title-2">
            市场经理/主管、市场专员
          </div>
        </div>
      </li>

      <li class="contact-2-list">
        <div class="contact-2-pic">
          <img alt="" src="/images/myk/contact-2-2.png" />
        </div>
        <div class="contact-2-l">
          <div class="contact-2-title-1">
            行政部
          </div>
          <div class="contact-2-title-2">
            行政经理/主管、行政专员
          </div>
        </div>
        <div class="contact-2-r">
          <div class="contact-2-title-1">
            企划部
          </div>
          <div class="contact-2-title-2">
            企划经理/主管、平面设计师、文案策划师
          </div>
        </div>
      </li>

      <li class="contact-2-list">
        <div class="contact-2-pic">
          <img alt="" src="/images/myk/contact-2-3.png" />
        </div>
        <div class="contact-2-l">
          <div class="contact-2-title-1">
            财务部
          </div>
          <div class="contact-2-title-2">
            财务主管、会计/出纳
          </div>
        </div>
        <div class="contact-2-r">
          <div class="contact-2-title-1">
            招商部
          </div>
          <div class="contact-2-title-2">
            招商经理、招商专员
          </div>
        </div>
      </li>

      <li class="contact-2-list">
        <div class="contact-2-pic">
          <img alt="" src="/images/myk/contact-2-4.png" />
        </div>
        <div class="contact-2-l">
          <div class="contact-2-title-1">
            销售部
          </div>
          <div class="contact-2-title-2">
            销售经理/主管、销售专员
          </div>
        </div>
        <div class="contact-2-r">
          <div class="contact-2-title-1">
            人事部
          </div>
          <div class="contact-2-title-2">
            人事经理/主管、人事专员
          </div>
        </div>
      </li>

      <li class="contact-2-list">
        <div class="contact-2-pic">
          <img alt="" src="/images/myk/contact-2-5.png" />
        </div>
        <div class="contact-2-l">
          <div class="contact-2-title-1">
            后勤部
          </div>
          <div class="contact-2-title-2">
            后勤主管、司机、保洁
          </div>
        </div>
      </li>
    </ul>

    <div class="contact2-circle-row">
      <div class="contact2-circle-1"></div>
    </div>

    <div class="contact2-circle-row">
      <div class="contact2-circle-2"></div>
    </div>

    <div class="contact2-circle-row">
      <div class="contact2-circle-3"></div>
    </div>

    <div class="contact-2-title-3">
      全部岗位
    </div>
  </div>
</div>



{% include "_footer.html" %}

{% endblock %}


{% block styles %}
{{ $.css("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

