{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}

  {% include "_common.html" %}
  {% include "_sidebar.html" %}


<div class="home-banner">
  <div class="home-carousel">
    <img alt="" src="/images/myk/home-banner.png" />
  </div>
</div>

<div class="section">
  <div class="title-1">Product display</div>
  <div class="title-2">易换生活展示</div>
</div>


<div class="section home-3">
  <div class="">
    <div class="row">
      <div class="grid width--7">
        <div class="home-3-pic">
          <img alt="" src="/images/myk/home-3-l.png" />
        </div>
      </div>
      <div class="grid width--5">
        <div class="row home-3-row">
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-1.png" />
              </div>
              金币
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-2.png" />
              </div>
              积分
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-3.png" />
              </div>
              订单
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-4.png" />
              </div>
              摇一摇
            </div>
          </div>
        </div>

        <div class="row home-3-row">
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-5.png" />
              </div>
              创客
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-6.png" />
              </div>
              附近
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-7.png" />
              </div>
              商家
            </div>
          </div>
          <div class="grid width--3">
            <div class="home-3-action">
              <div class="home-3-action-pic">
                <img alt="" src="/images/myk/home-3-8.png" />
              </div>
              我的
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="title-1">Development cource</div>
  <div class="title-2">美优卡科技发展历程</div>
</div>


<div class="section">
  <div class="home-1">
    山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。
  </div>
</div>


<div class="home-2">
  <div class="">
    <div class="home-2-timeline row">
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-1">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-2">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-3">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-4">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-5">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
      <div class="grid width--6-f">
        <div class="home-2-label home-2-label-6">
          <div class="home-2-text">挂牌成功</div>
          <div class="home-2-date">2016-04-26</div>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="home-2-b">
  <div class="home-2-logo">
    <img alt="" src="/images/myk/logo2.png" />
  </div>
  创造 "互联网+" 商业服务、生态服务链，引领移动互联网新商业模式！
</div>






<div class="section">
  <div class="title-1">News and trends</div>
  <div class="title-2">新闻动态</div>
</div>


<div class="section home-4">
  <div class="">
    <div class="row">
      <div class="grid width--4">

        <div class="home-4-container">
          <a href="#">
            <div class="home-4-block">

              <div class="home-4-block-header">
                <img alt="" src="/images/myk/home-pic.png" />
              </div>

              <div class="home-4-block-header-2">
                <div class="row">
                  <div class="grid width--6">
                    <div class="home-avatar">
                      <img alt="" src="/images/myk/home-avatar.png" />
                    </div>
                    <div class="home-name">
                      admin
                    </div>
                  </div>
                  <div class="grid width--6">
                    <div class="home-4-date">
                      2015-06-22
                    </div>
                  </div>
                </div>
              </div>

              <div class="home-4-block-body">
                <div class="home-4-title">群星演唱会完美谢幕！</div>
                <div class="home-4-body">山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。</div>
              </div>

              <div class="home-4-block-footer-container">
                <div class="home-4-block-footer">
                  <div class="row">
                    <div class="grid width--6">
                      <div class="home-4-num">
                        <img alt="" src="/images/myk/heart.png" /> 13
                      </div>
                    </div>
                    <div class="grid width--6">
                      <div class="home-4-more">
                        more
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

      </div>

      <div class="grid width--4">

        <div class="home-4-container">
          <a href="#">
            <div class="home-4-block">

              <div class="home-4-block-header">
                <img alt="" src="/images/myk/home-pic.png" />
              </div>

              <div class="home-4-block-header-2">
                <div class="row">
                  <div class="grid width--6">
                    <div class="home-avatar">
                      <img alt="" src="/images/myk/home-avatar.png" />
                    </div>
                    <div class="home-name">
                      admin
                    </div>
                  </div>
                  <div class="grid width--6">
                    <div class="home-4-date">
                      2015-06-22
                    </div>
                  </div>
                </div>
              </div>

              <div class="home-4-block-body">
                <div class="home-4-title">群星演唱会完美谢幕！</div>
                <div class="home-4-body">山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。</div>
              </div>

              <div class="home-4-block-footer-container">
                <div class="home-4-block-footer">
                  <div class="row">
                    <div class="grid width--6">
                      <div class="home-4-num">
                        <img alt="" src="/images/myk/heart.png" /> 13
                      </div>
                    </div>
                    <div class="grid width--6">
                      <div class="home-4-more">
                        more
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

      </div>

      <div class="grid width--4">

        <div class="home-4-container">
          <a href="#">
            <div class="home-4-block">

              <div class="home-4-block-header">
                <img alt="" src="/images/myk/home-pic.png" />
              </div>

              <div class="home-4-block-header-2">
                <div class="row">
                  <div class="grid width--6">
                    <div class="home-avatar">
                      <img alt="" src="/images/myk/home-avatar.png" />
                    </div>
                    <div class="home-name">
                      admin
                    </div>
                  </div>
                  <div class="grid width--6">
                    <div class="home-4-date">
                      2015-06-22
                    </div>
                  </div>
                </div>
              </div>

              <div class="home-4-block-body">
                <div class="home-4-title">群星演唱会完美谢幕！</div>
                <div class="home-4-body">山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。</div>
              </div>

              <div class="home-4-block-footer-container">
                <div class="home-4-block-footer">
                  <div class="row">
                    <div class="grid width--6">
                      <div class="home-4-num">
                        <img alt="" src="/images/myk/heart.png" /> 13
                      </div>
                    </div>
                    <div class="grid width--6">
                      <div class="home-4-more">
                        more
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>



<div class="section">
  <div class="title-1">Elite Team</div>
  <div class="title-2">精英团队</div>
</div>


<div class="home-5">
  <div class="">
    <div class="home-5-title">一群心怀梦想，并且不断追求愿意为此而付出行动的人</div>
    <div class="home-5-block-container">
      <img alt="" src="/images/myk/home-5.png" />
      {#
       <div class="row">
        <div class="grid width--3">
          <div class="home-5-block">
            <div class="home-5-avatar">
              <img alt="" src="/images/myk/home-avatar.png" />
            </div>
            <div class="home-5-name">张凌云</div>
            <div class="home-5-small">中奇科技董事长</div>
          </div>
        </div>
        <div class="grid width--3">
          <div class="home-5-block">
            <div class="home-5-avatar">
              <img alt="" src="/images/myk/home-avatar.png" />
            </div>
            <div class="home-5-name">Jason</div>
            <div class="home-5-small">中奇科技CEO</div>
          </div>
        </div>
        <div class="grid width--3">
          <div class="home-5-block">
            <div class="home-5-avatar">
              <img alt="" src="/images/myk/home-avatar.png" />
            </div>
            <div class="home-5-name">武振林</div>
            <div class="home-5-small">星多网创始人</div>
            <div class="home-5-small">美优卡科技董事长</div>
          </div>
        </div>
        <div class="grid width--3">
          <div class="home-5-block">
            <div class="home-5-avatar">
              <img alt="" src="/images/myk/home-avatar.png" />
            </div>
            <div class="home-5-name">王瑞康</div>
            <div class="home-5-small">美优卡科技总经理</div>
          </div>
        </div>
      </div>
        #}
    </div>
  </div>
</div>




<div class="section">
  <div class="title-1">Contact us</div>
  <div class="title-2">联系我们</div>
</div>



<div class="section home-6">
  <div class="">
    <div class="home-6-container">
      <div class="row">
        <div class="grid width--5">
          <div class="">
            <div class="row about-2-row">
              <div class="grid width--1 about-2-row-pic">
                <img alt="" src="/images/myk/ic-marker.png" />
              </div>
              <div class="grid width--11">
                <div class="about-2-row-text">
                  山西省太原市小店区体育路永利过季中心16层
                </div>
              </div>
            </div>
            <div class="row about-2-row">
              <div class="grid width--1 about-2-row-pic">
                <img alt="" src="/images/myk/ic-phone.png" />
              </div>
              <div class="grid width--11">
                <div class="about-2-row-text">
                  <a href="tel:0354-7677988">0354-7677988</a>
                  <a href="tel:400-8387-600">400-8387-600</a>
                </div>
              </div>
            </div>
            <div class="row about-2-row">
              <div class="grid width--1 about-2-row-pic">
                <img alt="" src="/images/myk/ic-bus.png" />
              </div>
              <div class="grid width--11">
                <div class="about-2-row-text">
                  <div>
                    公交线路1：
                  </div>
                  <div>
                    乘坐39路、838路、619路、964路、868路、877路到长风街体育路口下车
                  </div>
                  <div>
                    公交线路2：
                  </div>
                  <div>
                    乘坐816路、824路、51路、903路到长风街体育路口下车
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid width--7">
          <div class="home-6-row">
            <div class="row">
              <div class="grid width--6">
                <div class="home-6-grid-l">
                  <input name="name" type="text" value="" class="field" placeholder="您的姓名" />
                </div>
              </div>
              <div class="grid width--6">
                <div class="home-6-grid-r">
                  <input name="contact" type="text" value="" class="field" placeholder="您的联系方式" />
                </div>
              </div>
            </div>
          </div>

          <div class="home-6-row">
            <textarea cols="30" id="" name="description" rows="10" class="field"></textarea>
          </div>

          <div class="home-6-btn">提交您的需求</div>

        </div>
      </div>
    </div>
  </div>
</div>






{% include "_footer.html" %}

{% endblock %}


{% block styles %}
{{ $.css("index") }}
{% endblock %}

{% block scripts %}
  <script src="http://webapi.amap.com/maps?v=1.3&key=4d28581adba669255e8f9028ddd4f5d5"></script>
  {{ $.js("/vendor.dll") }}
  {{ $.js("/commons") }}
  {{ $.js("common") }}
  {{ $.js("home") }}
{% endblock %}

{% extends "tpls/page.html" %}

