$pc = #FD3F1D
$sc = #1D97D2
$bd = 1px solid #ddd


@require "styles/reset"
@require "styles/typo"
@require "styles/space"
@require "styles/layout"
@require "styles/theme"

//@require "u:grid[]"

layout-width-base()
//layout-width-hundred()
layout-width-fraction()
layout-grid-base()
reset-box()
reset-a()


body
  reset-space()
  ff "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  pt 88px
  //pb 272px + 88px + 92px


ul
  lity no
  mar 0
  pad 0


@import "_common"
@import "_contact"
@import "_info"
@import "_about"


.home-banner
  mb 6em
  img
    size 100% a


.home-1
  mt 3em
  ta cen
  lh 2
  cc #333


.home-2
  mt 10em
  w 1400px
  mx a
  mb 6em

.home-2-timeline
  pt 6em
  pb 6em

.home-2-label
  pos rela
  ta cen

  &-1
    t -2em
  &-2
    t -0em
  &-3
    t -4em
  &-4
    t -0em
  &-5
    t -2em
  &-6
    t -6em


  &:after
    ctx " "
    pos abso
    dis ib
    b -3em
    l 50%
    size 1.5em
    bg #5FB463
    bdrz 50%

.home-2-text
  cc #aaa
  fz 0.85em

.home-2-date
  cc #5FB463
  fz 1.2em


.home-2-b
  mt 6em
  ta cen
  fz 1.2em
  cc #333
  pb 6em


.home-2-logo
  mb 2em
