$pc = #FD3F1D
$sc = #1D97D2
$bd = 1px solid #ddd


@require "styles/reset"
@require "styles/typo"
@require "styles/space"
@require "styles/layout"
@require "styles/theme"

//@require "u:grid[]"

layout-width-base()
//layout-width-hundred()
layout-width-fraction()
layout-grid-base()
reset-box()
reset-a()


body
  reset-space()
  ff "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
  pt 88px
  //pb 272px + 88px + 92px


ul
  lity no
  mar 0
  pad 0


@import "_common"
@import "_contact"
@import "_info"


.about-1
  pad 4em

.about-1-text
  ta cen
  lh 2
  cc #555


.about-2-container
.about-3-container
  pad 6em

.about-2-row
  mb 1em
  cc #555


.about-3
  w 600px
  mx a

.about-title
  cc #21D197
  text-shadow 0 2px 2px #aaa
  fz 2.2em
