{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}

{% include "_common.html" %}



<div class="section">
  <div class="title-1">Company introduction</div>
  <div class="title-2">公司介绍</div>
</div>


<div class="section">
  <div class="about-1">
    <div class="about-1-pic">
      <img alt="" src="/images/myk/about-1.png" />
    </div>
    <div class="about-1-text">
      山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司，山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。山西美优卡信息科技有限公司隶属于山西中奇圣彩信息科技有限公司。
    </div>
  </div>
</div>



<div class="section-1 about-2-container">

  <div class="section">
    <div class="title-1">Contact us</div>
    <div class="title-2">联系我们</div>
  </div>

  <div class="section">

    <div class="about-2">
      <div class="about-2-pic">
        <img alt="" src="" />
      </div>
      <div class="row about-2-row">
        <div class="grid width--2"> &nbsp;
          <img alt="" src="" />
        </div>
        <div class="grid width--10">
          山西省太原市小店区体育路永利过季中心16层
        </div>
      </div>
      <div class="row about-2-row">
        <div class="grid width--2"> &nbsp;
          <img alt="" src="" />
        </div>
        <div class="grid width--10">
          <a href="tel:0354-7677988">0354-7677988</a>
          <a href="tel:400-8387-600">400-8387-600</a>
        </div>
      </div>
      <div class="row about-2-row">
        <div class="grid width--2"> &nbsp;
          <img alt="" src="" />
        </div>
        <div class="grid width--10">
          <div>
            公交线路1：
          </div>
          <div>
            乘坐39路、838路、619路、964路、868路、877路到长风街体育路口下车
          </div>
          <div>
            公交线路2：
          </div>
          <div>
            乘坐816路、824路、51路、903路到长风街体育路口下车
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="about-3-container">

  <div class="section">
    <div class="title-1">Attention to us</div>
    <div class="title-2">关于我们</div>
  </div>


  <div class="section">
    <div class="about-3">
      <div class="about-title">缔造 "互联网+" 产业旗舰</div>
      <div class="row">
        <div class="grid width--4">
          <div class="about-qrcode">
            <img alt="" src=""/>
            扫描二维码下载
          </div>
        </div>
        <div class="grid width--8">
          <div class="about-btn">
            <img alt="" "/images/myk/btn-1.png" />
          </div>
          <div class="about-btn">
            <img alt="" "/images/myk/btn-2.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="section">
  <div class="title-1">Busunessmen cooperaction regulations</div>
  <div class="title-2">商家合作规定</div>
</div>

<div class="section">
  <div class="title-1">Our advantage</div>
  <div class="title-2">我们的优势</div>
</div>


<div class="section">
  <div class="title-1">supply system</div>
  <div class="title-2">供货系统规定</div>
</div>
<div class="section">
  <div class="title-1">Operators work content</div>
  <div class="title-2">运营商工作内容</div>
</div>

<div class="section">
  <div class="title-1">Operators supply policy</div>
  <div class="title-2">运营商扶持政策</div>
</div>
<div class="section">
  <div class="title-1">Query platform construction fee</div>
  <div class="title-2">平台建设费查询</div>
</div>
<div class="section">
  <div class="title-1">Operators benefit analysis</div>
  <div class="title-2">运营商收益分析</div>
</div>
<div class="section">
  <div class="title-1">Operators to share</div>
  <div class="title-2">优秀运营商分享</div>
</div>
<div class="section">
  <div class="title-1">The application for operators</div>
  <div class="title-2">运营商申请</div>
</div>


<div class="section">
  <div class="title-1">About Yihuan Mak-er</div>
  <div class="title-2">关于易换创客</div>
</div>
<div class="section">
  <div class="title-1">Yihuan Mak-er model</div>
  <div class="title-2">易换创客模式</div>
</div>
<div class="section">
  <div class="title-1">Mak-er benefit analysis</div>
  <div class="title-2">创客收益分析</div>
</div>
<div class="section">
  <div class="title-1">Mak-er style exhibition</div>
  <div class="title-2">创客风采展示</div>
</div>


<div class="section">
  <div class="title-1">Product display</div>
  <div class="title-2">易换生活展示</div>
</div>
<div class="section">
  <div class="title-1">News and trends</div>
  <div class="title-2">新闻动态</div>
</div>
<div class="section">
  <div class="title-1">Elite Team</div>
  <div class="title-2">精英团队</div>
</div>






{% include "_footer.html" %}

{% endblock %}


{% block styles %}
{{ $.css("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

