{# -*- mode: jinja2 -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}

{% include "_common.html" %}


<div class="info-banner">
  <div class="info-header">
    企业咨询
    <div class="info-small">
      INFOMATION
    </div>
  </div>
</div>


<div class="info-title">
  享受免费的世界，从易换生活开始
</div>

<div class="info-tab">
  <div class="row">
    <div class="grid width--4">
      <div class="info-tab-title tab-title">
        <div class="info-tab-pic">
          <img alt="" src="/images/myk/contact-1-1.png"/>
        </div>
        <div class="info-tab-text">
          生活动态
        </div>
      </div>
    </div>
    <div class="grid width--4">
      <div class="info-tab-title tab-title active">
        <div class="info-tab-pic">
          <img alt="" src="/images/myk/contact-1-1.png"/>
        </div>
        <div class="info-tab-text">
          行业新闻
        </div>
      </div>
    </div>
    <div class="grid width--4">
      <div class="info-tab-title tab-title">
        <div class="info-tab-pic">
          <img alt="" src="/images/myk/contact-1-1.png"/>
        </div>
        <div class="info-tab-text">
          政策公告
        </div>
      </div>
    </div>
  </div>
</div>

<div class="info-tabcontent">
  <div class="row">
    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid width--4">
      <div class="info-card-container">
        <a href="#">
          <div class="info-card">
            <div class="info-card-pic">
              <img alt="" src="/images/myk/contact-banner.png"/>
            </div>
            <div class="info-card-body">
              <div class="info-card-header row">
                <div class="grid width--3">
                  <div class="info-card-flag">生活动态</div>
                </div>
                <div class="grid width--9">
                  <div class="info-card-title">三星优异财报背后的隐忧</div>
                </div>
              </div>
              <div class="info-card-intro">
                三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报，三星在周三发布了2015财年第三财季的财报。
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>



{% include "_footer.html" %}

{% endblock %}


{% block styles %}
{{ $.css("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

